/* HERO */
#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.75rem;
}

#hero .container h1 {
  font-size: 2.75rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

#hero .container img {
  width: 2rem;
  margin-top: 4rem;
}

/* GRID */
.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;
  max-width: 22rem;
  margin: 0 auto;
  grid-area: left;
}

.text h2 {
  max-width: 22rem;
  color: var(--very-dark-desaturated-blue);
  font-size: 2rem;
}

.text p {
  max-width: 22rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.75rem;
  margin: 2rem 0;
}

.text .link1::after {
  background: hsla(51, 100%, 49%, 0.5);
}

.text .link1:hover::after {
  background: hsl(51, 100%, 49%);
}

.image {
  grid-area: right;
}

.image picture img {
  width: 100%;
  height: auto;
  display: block;
}

.section2 .text .link1::after {
  background: hsla(7, 99%, 70%, 0.5);
}

.section2 .text .link1:hover::after {
  background: hsl(7, 99%, 70%);
}

/* SECTION2 */
.section2 .text {
  grid-area: right;
}

.section2 .image {
  grid-area: left;
}

/* BACKGROUND */
.background {
  background-position: center;
  background-size: cover;
}

.bg1 {
  background-image: url('../images/desktop/image-graphic-design.jpg');
}
.bg2 {
  background-image: url('../images/desktop/image-photography.jpg');
}

.background .text {
  margin-top: 28rem;
  text-align: center;
  align-items: center;
}

.background .text h2 {
  font-size: 1.75rem;
}

.bg1 .text h2 {
  color: var(--dark-desaturated-cyan);
}

.bg1 .text p {
  color: var(--dark-desaturated-cyan);
}

.bg2 .text h2 {
  color: var(--dark-blue);
}

.bg2 .text p {
  color: var(--dark-blue);
}

/* TESTIMONIALS */
#testimonials .container > h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--grayish-blue);
  letter-spacing: 0.5rem;
  margin: 4.75rem 0 4rem;
  font-size: 1.2rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards .card {
  text-align: center;
}

.cards .card img {
  width: 6.75rem;
  border-radius: 50%;
}

.cards .card .text {
  max-width: 24rem;
  align-items: center;
  justify-content: center;
}

.cards .card .text p:last-child {
  margin: 0;
  color: var(--grayish-blue);
}

.cards .card .text h2 {
  font-size: 1.5rem;
  color: var(--very-dark-desaturated-blue);
}

/* MEDIA QUERIES */
@media (max-width: 740px) {
  #hero .container h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .text,
  .section2 .text {
    align-items: center;
    text-align: center;
    grid-area: down;
    padding: 4rem 2rem;
  }

  .image,
  .section2 .image {
    grid-area: up;
  }

  #testimonials .container h2 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .cards .card .text {
    padding: 0rem 2rem 4rem;
  }
}
